<div class="container">
  <form class="mt-3">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="buscar" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2">
        <p>Filter by: </p>
      </div>
      <div class="col-sm-9 col-md-10 text-right">
        <button class="btn btn-light" *ngIf="selectedFilter" (click)="removeFilter()" placement="top" ngbTooltip="Remover Filtro"> X </button>
        <button class="btn" [ngClass]="selectedFilter === 'abv' ? 'btn-secondary' : 'btn-primary'" (click)="filterProperty('abv')">ABV</button>
        <button class="btn" [ngClass]="selectedFilter === 'ibu' ? 'btn-secondary' : 'btn-primary'" (click)="filterProperty('ibu')">IBU</button>
      </div>
    </div>
  </form>
  <div class="mt-3 text-center" *ngIf="isLoading">
    <div class="d-flex">
      Loading Beers ...
    </div>
  </div>
  <div class="mt-3 text-center" *ngIf="requestError">
    <div class="d-flex alert alert-warning" role="alert">
      Ops: {{ requestError.message }}
    </div>
    <button class="btn btn-outline-primary" (click)="getBeers()">Reload Beers</button>
  </div>
  <div class="row mt-3">
    <div class="col col-md-3 col-lg-2" *ngFor="let item of beersList | search: searchText | filter: selectedFilter
    ">
      <div class="mb-2" >
        <div class="text-center">
          <a routerLink="/beer/detail" (click)="viewDetail(item)">
          <figure class="figure">
            <img class="figure-img" [src]="item.image_url" [alt]="item.name" height="100px">
            <figcaption class="figure-caption text-lowercase">{{item.name}}</figcaption>
          </figure>
          <p>Abv: {{item.abv}}</p>
          <p>Ibu: {{item.ibu}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
